*
!.gitignore
!PLUGINSREQUIRED.md
!README.md
!config.xml
!jobs
!jobs/*
!jobs/*/
!jobs/*/*
!jobs/*/*/
!jobs/*/*/*
!jobs/*/*/*/
!plugins
!plugins/*
!plugins/*/
!plugins/*/*
!plugins/*/*/
!plugins/*/*/*
!plugins/*/*/*/
!users
!users/*
!users/*/
.DS_Store